<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxz.system.mapper.RoleMapper">

    <!--根据id获取角色信息-->
    <select id="getRoleById" resultType="com.fxz.system.entity.Role">
        SELECT
            r.role_id,
            r.role_name,
            r.remark,
            r.data_scope,
            r.data_scope_dept_ids,
            r.create_time,
            r.update_time,
            GROUP_CONCAT( rm.MENU_ID ) menuId
        FROM
            sys_role r
                LEFT JOIN sys_role_menu rm ON rm.role_id = r.role_id
        WHERE
            r.role_id = #{id}
        GROUP BY
            r.role_id
    </select>

</mapper>