<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxz.serversystem.mapper.DeptMapper">

    <resultMap id="dept" type="com.fxz.common.core.entity.system.Dept">
        <id column="DEPT_ID" property="deptId"/>
        <result column="PARENT_ID" property="parentId"/>
        <result column="DEPT_NAME" property="deptName"/>
        <result column="ORDER_NUM" property="orderNum"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="MODIFY_TIME" property="modifyTime"/>
        <collection property="children" column="{DEPT_ID = DEPT_ID}" select="getDeptByPid"/>
    </resultMap>

    <!--获取部门树-->
    <select id="getDeptTree" resultMap="dept">
        select DEPT_ID,
               PARENT_ID,
               DEPT_NAME,
               ORDER_NUM,
               CREATE_TIME,
               MODIFY_TIME
        from t_dept
        WHERE DEPT_ID = 0
    </select>

    <select id="getDeptByPid" resultMap="dept">
        select DEPT_ID,
               PARENT_ID,
               DEPT_NAME,
               ORDER_NUM,
               CREATE_TIME,
               MODIFY_TIME
        from t_dept
        where PARENT_ID = #{DEPT_ID}
        ORDER BY ORDER_NUM
    </select>

</mapper>