package com.fxz.${module}.controller;


import com.fxz.common.core.param.PageParam;
import com.fxz.common.mp.result.PageResult;
import com.fxz.common.mp.result.Result;
    ${module}.service.${className}Service;

import lombok.RequiredArgsConstructor;
import org.springframework.web.bind.annotation.*;

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${classname}")
@RequiredArgsConstructor
public class ${className}Controller {

    private final ${className}Service ${classname}Service;

    @PostMapping(value = "/add")
    public Result add(@RequestBody ${className} param) {
        return Result.success(${classname}Service.add(param));
    }

    @PostMapping(value = "/update")
    public Result update(@RequestBody ${className} param) {
        return Result.success(${classname}Service.update(param));
    }

    @DeleteMapping(value = "/delete")
    public Result delete(Long id) {
        return Result.judge(${classname}Service.delete(id));
    }

    @GetMapping(value = "/findById")
    public Result findById(Long id) {
        return Result.success(${classname}Service.findById(id));
    }

    @GetMapping(value = "/findAll")
    public Result findAll() {
        return Result.success(${classname}Service.findAll());
    }

    @GetMapping(value = "/page")
    public Result<PageResult> page(PageParam pageParam, ${className} ${classname}) {
        return Result.success(PageResult.success(${classname}Service.page(pageParam, ${classname}Param)));
    }
}