#set($excludeColumns = ["createTime","updateTime","createBy","updateBy"])
package com.fxz.common.core.${module}.mapper;

import com.fxz.common.mp.base.BaseCreateEntity;
import io.swagger.v3.oas.annotations.media.Schema;

import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Schema(title = "${comments}")
@EqualsAndHashCode(callSuper = true)
@Data
@Accessors(chain = true)
public class ${className}DTO extends BaseCreateEntity {

    private static final long serialVersionUID = -1L;

#foreach ($column in $columns)
    #if(!$excludeColumns.contains($column.name))
    @Schema(description = "$column.comments")
    private $column.attrType $column.name;
    #end
#end

}