#set($excludeColumns = ["createTime","updateTime","createBy","updateBy"])
package com.fxz.common.core.entity.${module};

import com.fxz.common.mp.base.BaseEntity;
import java.math.BigDecimal;
import java.time.LocalDateTime;
import java.time.LocalDate;
import java.time.LocalTime;

import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
import lombok.experimental.Accessors;
import lombok.EqualsAndHashCode;

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Data
@TableName("${tableName}")
@Accessors(chain = true)
@EqualsAndHashCode(callSuper = true)
public class ${className} extends BaseEntity{

    private static final long serialVersionUID = -1L;

#foreach ($column in $columns)
    #if(!$excludeColumns.contains($column.name))
/** $column.comments */
private $column.attrType $column.name;
    #end
#end

}
