package com.fxz.${module}.core.controller;

import com.fxz.common.core.rest.PageResult;
import com.fxz.common.core.rest.param.PageParam;
import com.fxz.${module}.core.${method}.service.${className}Service;
import com.fxz.${module}.dto.${method}.${className}Dto;
import com.fxz.${module}.param.${method}.${className}Param;
import QueryParams;
import org.springframework.web.bind.annotation.*;

import java.util.List;

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${classname}")
@RequiredArgsConstructor
public class ${className}Controller {

    private final ${className}Service ${classname}Service;

    @PostMapping(value = "/add")
    public FxzResponse add(@RequestBody ${className}Param param) {
        return new FxzResponse().data(${classname}Service.add(param));
    }

    @PostMapping(value = "/update")
    public FxzResponse update(@RequestBody ${className}Param param) {
        return new FxzResponse().data(${classname}Service.update(param));
    }

    @DeleteMapping(value = "/delete")
    public FxzResponse delete(Long id) {
            ${classname}Service.delete(id);
        return new FxzResponse().data();
    }

    @GetMapping(value = "/findById")
    public FxzResponse findById(Long id) {
        return new FxzResponse().data(${classname}Service.findById(id));
    }

    @GetMapping(value = "/findAll")
    public FxzResponse findAll() {
        return new FxzResponse().data(${classname}Service.findAll());
    }

    @GetMapping(value = "/page")
    public FxzResponse page(PageParam pageParam, ${className}Param ${classname}Param) {
        return new FxzResponse().data(${classname}Service.page(pageParam, ${classname}Param));
    }
}