package com.fxz.${module}.core.convert;

import com.fxz.${module}.core.entity.${className};
import com.fxz.${module}.dto.${className}Dto;
import com.fxz.${module}.param.${className}Param;
import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Convert {
    ${className}Convert CONVERT = Mappers.getMapper(${className}Convert.class);

    ${className} convert(${className}Param in);

    ${className}Dto convert(${className} in);

}