package com.fxz.${module}.dto;

import java.math.BigDecimal;
import java.time.LocalDateTime;
import java.time.LocalDate;

import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Data
@Accessors(chain = true)
public class ${className}Dto {

#foreach ($column in $columns)
    private $column.attrType $column.name;
#end

}