package com.fxz.common.core.entity.${module};

import java.math.BigDecimal;
import java.time.LocalDateTime;
import java.time.LocalDate;
import java.time.LocalTime;

import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
import lombok.experimental.Accessors;

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Data
@TableName("${tableName}")
@Accessors(chain = true)
public class ${className} {

#foreach ($column in $columns)
/** $column.comments */
private $column.attrType $column.name;
#end

}
