package com.fxz.${module}.entity;

import java.math.BigDecimal;
import java.time.LocalDateTime;
import java.time.LocalDate;
import java.time.LocalTime;

import com.baomidou.mybatisplus.annotation.TableName;
import com.fxz.${module}.dto.${className}Dto;
import com.fxz.${module}.param.${className}Param;
import com.fxz.${module}.core.convert.${className}Convert;


import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;

/**
* ${comments}
* @author ${author}
* @date ${datetime}
*/
@EqualsAndHashCode(callSuper = true)
@Data
@TableName("${tableName}")
@Accessors(chain = true)
public class ${className} {

#foreach ($column in $columns)
    /** $column.comments */
    private $column.attrType $column.name;
#end

    /** 创建对象 */
    public static ${className} init(${className}Param in) {
            return ${className}Convert.CONVERT.convert(in);
    }

    /** 转换成dto */
    @Override
    public ${className}Dto toDto() {
        return ${className}Convert.CONVERT.convert(this);
    }
}
