package com.fxz.${module}.core.service;

import com.fxzcommon.core.exception.DataNotExistException;
import com.fxzcommon.core.rest.PageResult;
import com.fxzcommon.core.rest.param.PageParam;
import com.fxzcommon.core.util.ResultConvertUtil;
import com.fxzcommon.mybatisplus.util.MpUtil;
    ${module}.dto.${className}Dto;
    ${module}.param.${className}Param;
    ${module}.core.convert.${className}Convert;
    ${module}.core.entity.${className};
    ${module}.core.dao.${className}Manager;
import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;

import java.util.List;

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Slf4j
@Service
@RequiredArgsConstructor
public class ${className}Service {
    private final ${className}Manager ${classname}Manager;

    /**
     * 添加
     */
    public ${className}Dto add(${className}Param param){
        ${className} ${classname} = ${className}.init(param);
        return ${classname}Manager.save(${classname}).toDto();
    }

    /**
     * 修改
     */
    public ${className}Dto update(${className}Param param){
        ${className} ${classname} = ${classname}Manager.findById(param.getId()).orElseThrow(DataNotExistException::new);

        BeanUtil.copyProperties(param,${classname}, CopyOptions.create().ignoreNullValue());
        return ${classname}Manager.updateById(${classname}).toDto();
    }

    /**
     * 分页
     */
    public PageResult<${className}Dto> page(PageParam pageParam,${className}Param ${classname}Param){
        return MpUtil.convert2DtoPageResult(${classname}Manager.page(pageParam,${classname}Param));
    }

    /**
     * 获取单条
     */
    public ${className}Dto findById(Long id){
        return ${classname}Manager.findById(id).map(${className}::toDto).orElseThrow(DataNotExistException::new);
    }

    /**
     * 获取全部
     */
    public List<${className}Dto> findAll(){
        return ResultConvertUtil.dtoListConvert(${classname}Manager.findAll());
    }


}