<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ COPYRIGHT (C) 2022 Art AUTHORS(fxzcloud@gmail.com). ALL RIGHTS RESERVED.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this fileDO except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.art.system.dao.mysql.MenuMapper">

    <resultMap id="vueRouter" type="com.art.common.core.entity.router.VueRouter">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="component" property="component"/>
        <result column="keep_alive" property="keepAlive"/>
        <result column="hidden" property="hidden"/>
        <result column="title" property="title"/>
        <result column="perms" property="perms"/>
        <result column="type" property="type"/>
        <result column="path" property="path"/>
        <result column="icon" property="icon"/>
        <result column="redirect" property="redirect"/>
        <result column="order_num" property="orderNum"/>
        <collection property="children" column="{id = id}" select="getMenuByPid"/>
    </resultMap>

    <!--通过用户名查询权限信息-->
    <select id="findUserPermissions" resultType="com.art.system.dao.dataobject.MenuDO">
        select distinct sm.perms
        from sys_role sr
                 left join sys_user_role sur on (sr.role_id = sur.role_id)
                 left join sys_user su on (su.user_id = sur.user_id)
                 left join sys_role_menu srm on (srm.role_id = sr.role_id)
                 left join sys_menu sm on (sm.id = srm.menu_id)
        where su.username = #{userName}
          and sm.perms is not null
          and sm.perms &lt;&gt; ''
    </select>

    <!--通过用户名查询菜单信息-->
    <select id="findUserMenus" resultType="com.art.system.dao.dataobject.MenuDO">
        select sm.*
        from sys_menu sm
        where sm.type &lt;&gt; 1
          and sm.id in
              (select distinct srm.menu_id
               from sys_role_menu srm
                        left join sys_role sr on (srm.role_id = sr.role_id)
                        left join sys_user_role sur on (sur.role_id = sr.role_id)
                        left join sys_user su on (su.user_id = sur.user_id)
               where su.username = #{userName})
        order by sm.order_num
    </select>

    <!--根据父节点id查询路由信息-->
    <select id="getMenuByPid" resultMap="vueRouter">
        SELECT
            m.id,
            m.parent_id,
            m.`name`,
            m.component,
            m.keep_alive,
            m.hidden,
            m.title,
            m.perms,
            m.type,
            m.path,
            m.icon,
            m.redirect
        FROM
            sys_menu m
        WHERE
            parent_id = #{id}
        ORDER BY order_num
    </select>

</mapper>