#set($excludeColumns = ["createTime","updateTime","createBy","updateBy"])
package com.art.common.core.${module}.mapper;

import com.art.common.mp.core.base.BaseCreateEntity;
import io.swagger.v3.oas.annotations.media.Schema;

import lombok.Data;

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Schema(title = "${comments}")
@Data
public class ${className}DTO extends BaseCreateEntity {

    private static final long serialVersionUID = -1L;

#foreach ($column in $columns)
    #if(!$excludeColumns.contains($column.name))
    @Schema(description = "$column.comments")
    private $column.attrType $column.name;
    #end
#end

}