package com.art.${module}.service;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.BeanUtils;
import org.springframework.stereotype.Service;

import java.util.List;

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Slf4j
@Service
@RequiredArgsConstructor
public class ${className}ServiceImpl implements ${className}Service {

    private final ${className}Manager ${classname}Manager;

    /**
     * 添加
     */
    @Override
    public Boolean add${className}(${className}DTO ${classname}DTO) {
        return ${classname}Manager.add${className}(${classname}DTO) > 0;
    }

    /**
     * 修改
     */
    @Override
    public Boolean update${className}(${className}DTO ${classname}DTO) {
        return ${classname}Manager.update${className}ById(${classname}DTO) > 0;
    }

    /**
     * 分页
     */
    @Override
    public IPage<${className}DTO> page${className}(${className}PageDTO ${classname}PageDTO) {
        return ${className}Convert.INSTANCE.convertPage(${classname}Manager.page${className}(${classname}PageDTO));
    }

    /**
     * 获取单条
     */
    @Override
    public ${className}DTO findById(Long id) {
        return ${className}Convert.INSTANCE.convert(${classname}Manager.findById(id));
    }

    /**
     * 获取全部
     */
    @Override
    public List<${className}DTO> findAll() {
        return ${className}Convert.INSTANCE.convertList(${classname}Manager.list${className}());
    }

    /**
    * 删除
    */
    @Override
    public Boolean delete${className}(Long id) {
        return ${classname}Manager.delete${className}ById(id) > 0;
    }

}