<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxz.system.mapper.DeptMapper">

    <resultMap id="dept" type="com.fxz.system.entity.Dept">
        <id column="dept_id" property="deptId"/>
        <result column="parent_id" property="parentId"/>
        <result column="dept_name" property="deptName"/>
        <result column="order_num" property="orderNum"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <collection property="children" column="{DEPT_ID = DEPT_ID}" select="getDeptByPid"/>
    </resultMap>

    <select id="getDeptsByParentId" resultMap="dept">
        select dept_id,
               parent_id,
               dept_name,
               order_num,
               create_time,
               update_time
        from sys_dept
        WHERE dept_id = #{pId}
    </select>

    <!--获取部门树-->
    <select id="getDeptTree" resultMap="dept">
        select dept_id,
               parent_id,
               dept_name,
               order_num,
               create_time,
               update_time
        from sys_dept
        WHERE dept_id = 0
    </select>

    <select id="getDeptByPid" resultMap="dept">
        select dept_id,
               parent_id,
               dept_name,
               order_num,
               create_time,
               update_time
        from sys_dept
        where parent_id = #{DEPT_ID}
        ORDER BY ORDER_NUM
    </select>

</mapper>